/* Default styles */
.container {
  width: 100%;
  height: 17vh;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
}
/* Figure Section */
.figure-container {
  padding: 6px;
}
#logo-img {
  width: 75px;
  height: auto;
  padding: 2px;
}

/* Nav Menu section */
.nav-container {
  padding: 20px;
}

.list-items {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 10px;
}
.item {
  color: hsl(0, 0%, 97%);
  padding: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
}
.item:hover {
  color: hsl(0, 0%, 45%);
}

@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
    height: auto;
  }

  .figure-container {
    padding: 10px;
  }

  .nav-container {
    padding: 10px;
  }

  #logo-img {
    width: 50px;
  }
}

@media screen and (min-width: 601px) and (max-width: 1200px) {
  .container {
    height: 20vh;
  }

  .figure-container {
    padding: 8px;
  }

  .nav-container {
    padding: 15px;
  }

  #logo-img {
    width: 100px;
  }
}

@media screen and (min-width: 1201px) {
  .container {
    height: 15vh;
  }

  .figure-container {
    padding: 12px;
  }

  .nav-container {
    padding: 25px;
  }

  #logo-img {
    width: 70px;
  }
}
